<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <title>forum</title>
</head>
<body>
    <header class="header">
        <h1 class="forum" >FORUM</h1>
        <div class="cont">

        <div id="zidd" class="zidd">
            <button id="add">+</button>
        </div>
        <div class="home">
            <button id="show" class="btn">Login</button>
        </div>
    </header>

    <div class="post">
        <h2 style="text-align: center;">le posts</h2>
    </div>
        <div class="colax" id="auth" style="display: none;">

        <div id="bb" class="bb">

            <div id="page-logen" class="page active">
                <h1>Login</h1>
                <form>
                    <input name="email" type="text" placeholder="Email" required>
                    <input name="password" type="password" placeholder="password" required>
                    <button type="submit" class="btn">Submit</button>
                </form>
                <p>Create an account <a  href="#" onclick="togglePage()">Register here</a></p> 
            </div>

                <!-- ff -->
                
                <div  id="cection-page" class="page">
                    <h1>Create an account</h1>
                    <form action="conectionn" id="registerForm">
                        <input name="username" type="text" placeholder="write your name" required>
                        <input name="email" type="email" placeholder="write your email" required>
                        <input name="password" type="password" placeholder="write your password" required>
                        <button type="submit" id="btn" class="btn">Submit</button>
                        <p> <a href="#" onclick="togglePage()" >Login</p>
                        </form>
                </div>
            </div>

        </div>

        <div id="zidpost" class="post" style="display: none;">
            <input type="text" class="title" placeholder="title">
            <textarea name="post" id="addpost" placeholder="write content the post"></textarea>
            <button id="submit" class="submit">submit</button>
        </div>

    <script src="../js/page.js"></script>
      
</body>
</html>
